*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    background-color: #64615ec5;
    height: 100%;
    position: relative;
    overflow: hidden;
}

h1 {
    margin: 0;
}

.credit {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 0.6rem;
    width: 70%;
    left: 15%;
    padding: 1rem;
}